[defaults]
force_color = True
force_handlers = True
inventory = inventory
interpreter_python = auto
ignore_unreachable = True
nocows = 1
private_key_file = ~/.ssh/id_hetzner_cloud
vault_password_file = ../cloudserver/.vault_password_file
stdout_callback = yaml

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
timeout = 5s
retries = 1
